@charset "UTF-8";
@font-face {
  font-family: "UbuntuRegular";
  src: url("../fonts/UbuntuRegular/UbuntuRegular.eot");
  src: url("../fonts/UbuntuRegular/UbuntuRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuRegular/UbuntuRegular.woff") format("woff"), url("../fonts/UbuntuRegular/UbuntuRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuBold";
  src: url("../fonts/UbuntuBold/UbuntuBold.eot");
  src: url("../fonts/UbuntuBold/UbuntuBold.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuBold/UbuntuBold.woff") format("woff"), url("../fonts/UbuntuBold/UbuntuBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuItalic";
  src: url("../fonts/UbuntuItalic/UbuntuItalic.eot");
  src: url("../fonts/UbuntuItalic/UbuntuItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuItalic/UbuntuItalic.woff") format("woff"), url("../fonts/UbuntuItalic/UbuntuItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuLight";
  src: url("../fonts/UbuntuLight/UbuntuLight.eot");
  src: url("../fonts/UbuntuLight/UbuntuLight.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuLight/UbuntuLight.woff") format("woff"), url("../fonts/UbuntuLight/UbuntuLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuLightItalic";
  src: url("../fonts/UbuntuLightItalic/UbuntuLightItalic.eot");
  src: url("../fonts/UbuntuLightItalic/UbuntuLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuLightItalic/UbuntuLightItalic.woff") format("woff"), url("../fonts/UbuntuLightItalic/UbuntuLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuMedium";
  src: url("../fonts/UbuntuMedium/UbuntuMedium.eot");
  src: url("../fonts/UbuntuMedium/UbuntuMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMedium/UbuntuMedium.woff") format("woff"), url("../fonts/UbuntuMedium/UbuntuMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuMediumItalic";
  src: url("../fonts/UbuntuMediumItalic/UbuntuMediumItalic.eot");
  src: url("../fonts/UbuntuMediumItalic/UbuntuMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMediumItalic/UbuntuMediumItalic.woff") format("woff"), url("../fonts/UbuntuMediumItalic/UbuntuMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "UbuntuBoldItalic";
  src: url("../fonts/UbuntuBoldItalic/UbuntuBoldItalic.eot");
  src: url("../fonts/UbuntuBoldItalic/UbuntuBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuBoldItalic/UbuntuBoldItalic.woff") format("woff"), url("../fonts/UbuntuBoldItalic/UbuntuBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  overflow-x: hidden; }

/*
 962
*/
.container {
  margin: 0 auto; }

.bg {
  background: transparent url("../img/background.png") no-repeat;
  background-color: #504d4d;
  -webkit-background-size: cover;
  background-size: cover; }
  @media (min-width: 962px) {
    .bg {
      background-position: center center; } }

form {
  padding: 0 15px; }

p {
  line-height: 26px !important; }

/*--------Variables-----------*/
/*--------End Variables-------*/
/*------Start Helpers--------*/
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: inherit; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: inherit; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: inherit; }

:-moz-placeholder {
  /* Firefox 18- */
  color: inherit; }

.input {
  border-radius: 28px;
  border: 1px solid #ccd2d5;
  outline: none;
  color: #a1adb4;
  font-family: "UbuntuRegular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-left: 27px; }

/*---------End Helpers------*/
.btn {
  font-family: "UbuntuRegular", sans-serif;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  padding: 18px 36px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 25px; }
  .btn--grey {
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff; }
  .btn--blue {
    color: #ffffff;
    background: #009fde;
    -webkit-box-shadow: 1px 2px 8px 1px rgba(0, 159, 222, 0.16), 2px 4px 8px 1px rgba(0, 159, 222, 0.24);
    box-shadow: 1px 2px 8px 1px rgba(0, 159, 222, 0.16), 2px 4px 8px 1px rgba(0, 159, 222, 0.24); }
  .btn--white {
    -webkit-box-shadow: 1px 2px 8px 1px rgba(0, 159, 222, 0.16), 2px 4px 8px 1px rgba(0, 159, 222, 0.24);
    box-shadow: 1px 2px 8px 1px rgba(0, 159, 222, 0.16), 2px 4px 8px 1px rgba(0, 159, 222, 0.24);
    border-radius: 28px;
    background: #ffffff;
    color: #009fde;
    font-family: "UbuntuRegular", sans-serif;
    font-size: 16px;
    font-weight: 700; }

ul {
  list-style-type: none; }
  ul li {
    color: #444a52;
    font-family: "UbuntuRegular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 26px; }
    ul li:before {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      background: #009fde;
      border-radius: 50%;
      margin-right: 11px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 10px;
  max-width: 928px;
  margin: auto;
  margin-bottom: 74px; }
  .header__phone {
    color: #ffffff;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear; }
    .header__phone .phone {
      margin-bottom: 10px;
      margin-top: 3px; }
      .header__phone .phone a {
        font-family: "UbuntuRegular", sans-serif;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
        text-decoration: none;
        color: #ffffff; }
    .header__phone .text {
      font-size: 16px;
      font-weight: 400;
      font-family: "UbuntuRegular", sans-serif; }
    .header__phone .phone_icon {
      display: none; }
    .header__phone .mphone {
      display: none; }
    @media (max-width: 700px) {
      .header__phone {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.3);
        position: relative;
        cursor: pointer; }
        .header__phone .phone {
          display: none; }
        .header__phone .text {
          display: none; }
        .header__phone .phone_icon {
          display: inline-block;
          width: 18px;
          height: 18px;
          background: transparent url("/img/phone-icon.png") no-repeat;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
        .header__phone.open {
          border-radius: 38px;
          text-align: center;
          line-height: 50px;
          width: 238px; }
          .header__phone.open .phone_icon {
            left: 24px;
            top: 25px; }
          .header__phone.open .mphone {
            display: inline-block;
            white-space: nowrap;
            font-family: "UbuntuRegular", sans-serif;
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;
            color: #ffffff; } }
  .header__btn .btn {
    -webkit-transition: width, padding .3s linear;
    -o-transition: width, padding .3s linear;
    transition: width, padding .3s linear; }
    .header__btn .btn i {
      display: none; }
    @media (max-width: 700px) {
      .header__btn .btn {
        padding: 0;
        color: transparent;
        width: 50px;
        height: 50px;
        position: relative; }
        .header__btn .btn i {
          display: inline-block;
          width: 20px;
          height: 20px;
          background: transparent url("/img/mail-icon.png") no-repeat;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); } }
  @media (max-width: 962px) {
    .header {
      max-width: 720px; } }

.block_first {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 237px; }
  .block_first .h {
    color: #ffffff;
    margin-bottom: 9px; }
    .block_first .h--h1 {
      font-size: 24px;
      font-weight: 400;
      font-family: "UbuntuRegular", sans-serif; }
    .block_first .h--h2 {
      font-size: 56px;
      font-family: "UbuntuRegular", sans-serif;
      font-weight: 700; }
  .block_first .description {
    margin-top: 24px;
    margin-bottom: 42px;
    color: #ffffff;
    font-family: "UbuntuRegular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; }
  @media (max-width: 700px) {
    .block_first {
      padding-bottom: 122px; } }

.block_second {
  padding-top: 82px; }
  .block_second .h2 {
    text-align: center;
    color: #464646;
    font-family: "UbuntuRegular", sans-serif;
    font-size: 48px;
    margin-bottom: 31px; }
  .block_second .h3 {
    text-align: center;
    color: #464646;
    font-family: "UbuntuRegular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    /* Text style for "Дети спосо" */
    line-height: 36px; }
    .block_second .h3:after {
      content: "";
      display: block;
      width: 51px;
      height: 4px;
      background-color: #009fde;
      margin: 30px auto;
      margin-bottom: 36px; }
  .block_second .text {
    max-width: 615px;
    margin: auto;
    padding-bottom: 83px; }
    .block_second .text p {
      color: #444a52;
      font-family: "UbuntuRegular", sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 30px; }

.block_third {
  background: #f6f9fc;
  padding-top: 83px;
  padding-bottom: 26px; }
  .block_third .h2 {
    color: #464646;
    font-family: "UbuntuRegular", sans-serif;
    font-size: 48px;
    text-align: center;
    margin-bottom: 65px; }
  .block_third .row {
    max-width: 930px;
    margin: 0 auto;
    margin-bottom: 95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px; }
    .block_third .row .img {
      margin-right: 30px; }
      .block_third .row .img.first {
        display: none; }
    .block_third .row .text_wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .block_third .row .text_wrapper .line {
        width: 51px;
        height: 4px;
        background-color: #009fde;
        margin-right: 30px;
        margin-top: 9px; }
    .block_third .row .text {
      max-width: 445px;
      color: #444a52;
      font-family: "UbuntuRegular", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px; }
    @media (max-width: 760px) {
      .block_third .row {
        display: block;
        margin-bottom: 47px; }
        .block_third .row .img {
          text-align: center;
          margin-bottom: 27px; }
          .block_third .row .img.second {
            display: none; }
          .block_third .row .img.first {
            display: block; }
        .block_third .row .text_wrapper {
          max-width: 475px;
          margin: auto; } }

.block_fourth {
  border-bottom: 1px solid #f6f9fc; }
  .block_fourth .h2 {
    color: #464646;
    font-family: "UbuntuRegular", sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 82px;
    margin-bottom: 66px; }
  .block_fourth .slider {
    max-width: 940px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 105px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px; }
    .block_fourth .slider .arrow {
      width: 40px;
      height: 40px;
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer; }
      @media (max-width: 759px) {
        .block_fourth .slider .arrow {
          display: none; } }
      .block_fourth .slider .arrow__left {
        background: transparent url("../img/arrow-left.png") no-repeat; }
      .block_fourth .slider .arrow__right {
        background: transparent url("../img/arrow-right.png") no-repeat; }
    .block_fourth .slider .slides {
      max-width: 608px; }
      @media (max-width: 759px) {
        .block_fourth .slider .slides {
          margin: auto; } }
      .block_fourth .slider .slides .slide {
        display: none; }
        .block_fourth .slider .slides .slide__header {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-bottom: 37px; }
          .block_fourth .slider .slides .slide__header .photo {
            width: 80px;
            height: 80px;
            margin-right: 29px; }
          .block_fourth .slider .slides .slide__header .author {
            margin-top: 12px; }
            .block_fourth .slider .slides .slide__header .author__name {
              color: #464646;
              font-family: "UbuntuBold", sans-serif;
              font-size: 18px;
              margin-bottom: 8px; }
            .block_fourth .slider .slides .slide__header .author__position {
              color: #a1adb4;
              font-family: "UbuntuRegular", sans-serif;
              font-size: 16px; }
        .block_fourth .slider .slides .slide__body {
          color: #444a52;
          font-family: "UbuntuRegular", sans-serif;
          font-size: 16px;
          font-style: italic;
          line-height: 26px; }
  .block_fourth .slider_pins {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 56px;
    margin: auto;
    margin-bottom: 95px;
    display: none; }
    @media (max-width: 759px) {
      .block_fourth .slider_pins {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
    .block_fourth .slider_pins .pin {
      width: 8px;
      height: 8px;
      background: #ced5dd;
      border-radius: 50%;
      cursor: pointer; }
      .block_fourth .slider_pins .pin.active {
        background: #009fde; }
  .block_fourth .btn_wrapper {
    text-align: center;
    margin-bottom: 125px; }
    @media (max-width: 759px) {
      .block_fourth .btn_wrapper {
        margin-bottom: 95px; } }

.block_fifth {
  padding-top: 81px;
  border-bottom: 1px solid #f6f9fc; }
  .block_fifth .h2 {
    color: #464646;
    font-family: "UbuntuRegular", sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 68px;
    text-align: center; }
  .block_fifth .humans {
    max-width: 807px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 60px; }
    @media (max-width: 658px) {
      .block_fifth .humans .hidden {
        display: none; } }
    .block_fifth .humans .human {
      max-width: 214px;
      margin-bottom: 70px;
      text-align: center;
      -ms-flex-preferred-size: 214px;
      flex-basis: 214px; }
      .block_fifth .humans .human__photo {
        margin-bottom: 29px; }
      .block_fifth .humans .human__name {
        margin-bottom: 9px;
        font-family: "UbuntuMedium", sans-serif;
        font-weight: 500;
        color: #464646;
        font-size: 18px; }
      .block_fifth .humans .human__position {
        color: #a1adb4;
        font-family: "UbuntuRegular", sans-serif;
        font-size: 16px;
        font-weight: 400; }

.block_six {
  padding-top: 81px;
  padding-left: 10px;
  padding-right: 10px; }
  .block_six .h2 {
    color: #464646;
    font-family: "UbuntuRegular", sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center; }
    .block_six .h2:after {
      content: '';
      display: block;
      width: 51px;
      height: 4px;
      background-color: #009fde;
      margin: auto;
      margin-top: 66px;
      margin-bottom: 40px; }
  .block_six .guests {
    max-width: 870px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 92px; }
    @media (max-width: 796px) {
      .block_six .guests {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin-bottom: 0; } }
    .block_six .guests .guest {
      text-align: center;
      width: 29%;
      -ms-flex-preferred-size: 220px;
      flex-basis: 220px;
      margin-bottom: 40px; }
      .block_six .guests .guest__name {
        color: #464646;
        font-family: "UbuntuMedium", sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px; }
      .block_six .guests .guest__position {
        color: #a1adb4;
        font-family: "UbuntuRegular", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px; }

.block_seven {
  background: #f6f9fc;
  padding-top: 82px;
  padding-bottom: 125px; }
  .block_seven .h2 {
    color: #464646;
    font-family: "UbuntuRegular", sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 65px;
    text-align: center; }
  .block_seven .items {
    margin-bottom: 75px;
    padding: 0 10px; }
    .block_seven .items .item {
      background: #ffffff;
      -webkit-box-shadow: 1px 2px 8px 1px rgba(246, 249, 252, 0.16), 2px 4px 8px 1px rgba(246, 249, 252, 0.24);
      box-shadow: 1px 2px 8px 1px rgba(246, 249, 252, 0.16), 2px 4px 8px 1px rgba(246, 249, 252, 0.24);
      border-radius: 4px;
      max-width: 940px;
      margin: auto;
      margin-bottom: 10px; }
      .block_seven .items .item__header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 35px;
        cursor: pointer; }
      .block_seven .items .item__number {
        color: #464646;
        font-family: "UbuntuRegular", sans-serif;
        font-size: 18px;
        font-weight: 600;
        margin-right: 30px; }
      .block_seven .items .item__title {
        color: #464646;
        font-family: "UbuntuRegular", sans-serif;
        font-size: 18px;
        font-weight: 600;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; }
      .block_seven .items .item__icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-left: 1px solid #f6f9fc; }
        .block_seven .items .item__icon .icon {
          width: 16px;
          height: 16px;
          display: inline-block;
          background: transparent url("../img/plus.png") no-repeat; }
      .block_seven .items .item.open .item__icon .icon {
        height: 2px;
        background: transparent url("../img/minus.png") no-repeat; }
      .block_seven .items .item__content {
        display: none;
        background: #ffffff;
        padding-left: 88px;
        padding-right: 77px;
        padding-bottom: 51px; }
      .block_seven .items .item.open .item__content {
        display: block; }
  .block_seven .btn_wrapper {
    text-align: center; }

.block_eight {
  background: #ffffff;
  padding-top: 82px;
  padding-bottom: 130px;
  border-bottom: 1px solid #f6f9fc; }
  .block_eight .h2 {
    color: #464646;
    font-family: "UbuntuRegular", sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center; }
    .block_eight .h2:after {
      content: '';
      display: block;
      width: 44px;
      height: 32px;
      background: transparent url("../img/quotes.png") no-repeat;
      margin: auto;
      margin-top: 66px;
      margin-bottom: 40px; }
  .block_eight .paragraph {
    color: #444a52;
    font-family: "UbuntuRegular", sans-serif;
    font-size: 24px;
    font-style: italic;
    line-height: 36px;
    max-width: 568px;
    margin: auto;
    margin-bottom: 51px;
    padding: 0 10px; }
  .block_eight .logo {
    text-align: center;
    margin-bottom: 40px; }
  .block_eight .ceo {
    text-align: center; }
    .block_eight .ceo__name {
      color: #464646;
      font-family: "UbuntuMedium", sans-serif;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px; }
    .block_eight .ceo__position {
      color: #a1adb4;
      font-family: "UbuntuRegular", sans-serif;
      font-size: 16px;
      font-weight: 400; }
  @media (max-width: 760px) {
    .block_eight {
      padding-top: 61px;
      padding-bottom: 101px; } }

.block_nine {
  padding: 82px 10px 85px; }
  .block_nine .h2 {
    text-align: center;
    color: #464646;
    font-family: "UbuntuRegular", sans-serif;
    font-size: 48px;
    font-weight: 700; }
    .block_nine .h2:after {
      content: '';
      display: block;
      width: 51px;
      height: 4px;
      background-color: #009fde;
      margin: auto;
      margin-top: 66px;
      margin-bottom: 40px; }
  .block_nine .list {
    max-width: 617px;
    margin: auto; }
    .block_nine .list .list__item {
      margin-bottom: 35px; }
      .block_nine .list .list__item h3 {
        font-family: "UbuntuMedium", sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px; }
      .block_nine .list .list__item p {
        margin-bottom: 10px;
        font-family: "UbuntuRegular", sans-serif;
        line-height: 32px; }
  .block_nine .shim {
    display: none; }
  @media (max-width: 461px) {
    .block_nine .list .hidden {
      display: none; }
    .block_nine .shim {
      display: block;
      text-align: center;
      position: relative;
      color: #009fde;
      font-family: "UbuntuRegular", sans-serif;
      font-size: 16px;
      font-weight: 400; }
      .block_nine .shim span {
        border-bottom: 1px dashed;
        cursor: pointer; }
      .block_nine .shim:before {
        content: ' ';
        display: block;
        width: 100%;
        height: 70px;
        background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(rgba(255, 255, 255, 0)));
        background: -webkit-linear-gradient(bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
        background: -o-linear-gradient(bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
        position: absolute;
        top: -106px; }
      .block_nine .shim.open:before {
        display: none; } }

.block_ten {
  background: #f6f9fc;
  padding-top: 57px;
  padding-bottom: 126px; }
  @media (max-width: 760px) {
    .block_ten {
      padding-bottom: 98px; } }
  .block_ten .h2 {
    color: #464646;
    font-family: "UbuntuRegular", sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 66px; }
  .block_ten form {
    max-width: 939px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px; }
    .block_ten form input[name="name"] {
      width: 100%;
      max-width: 373px;
      height: 55px; }
    .block_ten form input[name="phone"] {
      width: 100%;
      max-width: 293px;
      height: 55px; }
    @media (max-width: 915px) {
      .block_ten form {
        display: block; }
        .block_ten form input[name="name"] {
          display: block;
          width: 100%;
          max-width: 450px;
          height: 55px;
          margin: auto;
          margin-bottom: 20px; }
        .block_ten form input[name="phone"] {
          display: block;
          height: 55px;
          width: 100%;
          max-width: 450px;
          margin: auto;
          margin-bottom: 20px; } }
    .block_ten form .btn {
      width: 213px;
      height: 55px; }
      @media (max-width: 915px) {
        .block_ten form .btn {
          display: block;
          width: 100%;
          max-width: 450px;
          margin: auto; } }
  .block_ten .link_wrapper {
    text-align: center; }
    .block_ten .link_wrapper span {
      color: #333;
      font-family: "UbuntuRegular", sans-serif;
      font-size: 16px;
      font-weight: 400; }
      .block_ten .link_wrapper span a {
        color: #009fde;
        text-decoration: none;
        font-size: 15px; }
    @media (max-width: 760px) {
      .block_ten .link_wrapper {
        max-width: 412px;
        margin: auto; } }

.block_eleven {
  background: #ffffff;
  padding-top: 77px;
  padding-bottom: 130px; }
  @media (max-width: 760px) {
    .block_eleven {
      padding-bottom: 66px; } }
  .block_eleven .h2 {
    color: #464646;
    font-family: "UbuntuRegular", sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 2px; }
    .block_eleven .h2:after {
      content: '';
      display: block;
      width: 51px;
      height: 4px;
      background-color: #009fde;
      margin: auto;
      margin-top: 66px;
      margin-bottom: 40px; }
  .block_eleven .humans {
    max-width: 809px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 10px; }
    @media (max-width: 760px) {
      .block_eleven .humans {
        display: block;
        text-align: center; }
        .block_eleven .humans .human {
          margin-bottom: 33px; } }
    .block_eleven .humans .human__name {
      font-family: "UbuntuMedium", sans-serif;
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 11px; }
    .block_eleven .humans .human__position {
      color: #a1adb4;
      font-family: "UbuntuRegular", sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-align: center; }

.block_twelve {
  background: #009fde;
  padding-top: 81px;
  padding-bottom: 130px; }
  @media (max-width: 760px) {
    .block_twelve {
      padding-top: 62px;
      padding-bottom: 99px; } }
  .block_twelve .h2 {
    color: #ffffff;
    text-align: center;
    font-family: "UbuntuRegular", sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 66px; }
  .block_twelve form {
    max-width: 939px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px; }
    .block_twelve form input[name="name"] {
      width: 100%;
      max-width: 373px;
      height: 55px; }
    .block_twelve form input[name="phone"] {
      width: 100%;
      max-width: 293px;
      height: 55px; }
    @media (max-width: 915px) {
      .block_twelve form {
        display: block; }
        .block_twelve form input[name="name"] {
          display: block;
          width: 100%;
          max-width: 450px;
          height: 55px;
          margin: auto;
          margin-bottom: 20px; }
        .block_twelve form input[name="phone"] {
          display: block;
          height: 55px;
          width: 100%;
          max-width: 450px;
          margin: auto;
          margin-bottom: 20px; }
        .block_twelve form .btn {
          display: block;
          width: 100%;
          max-width: 450px;
          margin: auto; } }
  .block_twelve .link_wrapper {
    text-align: center; }
    .block_twelve .link_wrapper span {
      color: #ffffff;
      font-family: "UbuntuRegular", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px; }
    .block_twelve .link_wrapper a {
      color: #ffffff;
      font-family: "UbuntuRegular", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-decoration: none; }
    @media (max-width: 760px) {
      .block_twelve .link_wrapper {
        max-width: 412px;
        margin: auto; } }

.block_thirteen {
  padding-top: 82px;
  padding-bottom: 125px; }
  @media (max-width: 760px) {
    .block_thirteen {
      padding-top: 61px;
      padding-bottom: 95px; } }
  .block_thirteen .map {
    margin-bottom: 43px; }
  .block_thirteen .h2 {
    color: #464646;
    font-family: "UbuntuRegular", sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 74px;
    text-align: center; }
  .block_thirteen .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 865px;
    margin: auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 73px;
    padding: 0 10px; }
    .block_thirteen .contacts .label {
      color: #a1adb4;
      font-size: 16px;
      font-family: "UbuntuRegular", sans-serif;
      font-weight: 500;
      margin-bottom: 7px; }
    .block_thirteen .contacts .txt {
      color: #464646;
      font-family: "UbuntuRegular", sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px; }
    .block_thirteen .contacts .address {
      max-width: 360px; }
    .block_thirteen .contacts .email a {
      font-family: "UbuntuMedium", sans-serif;
      font-weight: 500;
      font-size: 18px;
      color: #009fde;
      text-decoration: none; }
    .block_thirteen .contacts .phone {
      min-width: 137px; }
      .block_thirteen .contacts .phone a {
        font-family: "UbuntuMedium", sans-serif;
        font-weight: 500;
        text-decoration: none;
        color: #000000;
        font-size: 17px; }
    @media (max-width: 830px) {
      .block_thirteen .contacts {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-bottom: 44px; }
        .block_thirteen .contacts .address {
          max-width: 100%;
          margin-bottom: 40px; }
        .block_thirteen .contacts .email {
          width: 50%; } }
  .block_thirteen .btn_wrapper {
    text-align: center; }
    .block_thirteen .btn_wrapper a {
      text-decoration: none;
      font-family: inherit;
      font-size: inherit;
      color: inherit; }

.footer {
  text-align: center;
  background: #f6f9fc;
  color: #a1adb4;
  font-family: "UbuntuRegular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-top: 31px;
  padding-bottom: 25px; }

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  max-width: 676px;
  -webkit-box-shadow: 1px 2px 8px 1px rgba(0, 159, 222, 0.16), 2px 4px 8px 1px rgba(0, 159, 222, 0.24);
  box-shadow: 1px 2px 8px 1px rgba(0, 159, 222, 0.16), 2px 4px 8px 1px rgba(0, 159, 222, 0.24);
  border-radius: 10px;
  background: #009fde;
  width: 100%;
  padding: 87px 10px;
  display: none; }
  .popup .h2 {
    font-family: "UbuntuRegular", sans-serif;
    font-size: 24px;
    font-weight: 400; }
  .popup .h1 {
    font-family: "UbuntuRegular", sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px; }
  .popup .close {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
    background: transparent url("/img/close-icon.png") no-repeat;
    right: 24px;
    top: 24px;
    cursor: pointer; }
  @media (max-width: 731px) {
    .popup {
      height: 100%;
      width: 100%;
      max-width: 100%; } }
