@import "fonts";
@import "breakpoints/breakpoint";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}
/*
 962
*/

.container{
    margin: 0 auto;
    //max-width: 1300px;
}

.bg{
    background: transparent url("../img/background.png") no-repeat;
    background-color: #504d4d;
    -webkit-background-size: cover;
    background-size: cover;
    
    @include breakpoint(min-width 962px, max-width 1300px){
        background-position: center center;
    }
}

form{
    padding: 0 15px;
}

p{
  line-height: 26px !important;
}
/*--------Variables-----------*/
$regular: 'UbuntuRegular', sans-serif;
$bold: 'UbuntuBold', sans-serif;
$medium: 'UbuntuMedium', sans-serif;
$italic: 'UbuntuItalic', sans-serif;

/*--------End Variables-------*/


/*------Start Helpers--------*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: inherit;
}
::-moz-placeholder { /* Firefox 19+ */
    color: inherit;
}
:-ms-input-placeholder { /* IE 10+ */
    color: inherit;
}
:-moz-placeholder { /* Firefox 18- */
    color: inherit;
}


@mixin element-radius(){
    border-radius: 25px;
}

.input{
    border-radius: 28px;
    border: 1px solid #ccd2d5;
    outline: none;
    color: #a1adb4;
    font-family: $regular;
    font-size: 18px;
    font-weight: 400;
    padding-left: 27px;
}
/*---------End Helpers------*/



.btn{
    font-family: $regular;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    padding: 18px 36px;
    cursor: pointer;
    text-transform: uppercase;
    @include element-radius();

    &--grey{
        background: rgba(#fff, 0.3);
        color: #ffffff;
    }

    &--blue{
        color: #ffffff;
        background: #009fde;
        box-shadow: 1px 2px 8px 1px rgba(0, 159, 222, 0.16), 2px 4px 8px 1px rgba(0, 159, 222, 0.24)
    }

    &--white{
        box-shadow: 1px 2px 8px 1px rgba(0, 159, 222, 0.16), 2px 4px 8px 1px rgba(0, 159, 222, 0.24);
        border-radius: 28px;
        background: #ffffff;
        color: #009fde;
        font-family: $regular;
        font-size: 16px;
        font-weight: 700;
    }
}

ul{
    list-style-type: none;

    li{
        color: #444a52;
        font-family: $regular;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 26px;

        &:before {
            content: '';
            display: inline-block;
            width: 6px;
            height: 6px;
            background: #009fde;
            border-radius: 50%;
            margin-right: 11px;
        }
    }
}

@import 'blocks/_blocks';

.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  max-width: 676px;
  //height: 281px;
  box-shadow: 1px 2px 8px 1px rgba(0, 159, 222, 0.16), 2px 4px 8px 1px rgba(0, 159, 222, 0.24);
  border-radius: 10px;
  background: #009fde;
  width: 100%;
  padding: 87px 10px;
  display: none;

  .h2{
    font-family: $regular;
    font-size: 24px;
    font-weight: 400;
  }

  .h1{
    font-family: $regular;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .close{
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
    background: transparent url("/img/close-icon.png") no-repeat;
    right: 24px;
    top: 24px;
    cursor: pointer;
  }


  @include breakpoint(max-width 731px) {
    height: 100%;
    width: 100%;
    max-width: 100%;
  }
}