@import "header";

.block{

  &_first{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 237px;

    .h{
      color: #ffffff;
      margin-bottom: 9px;

      &--h1{
        font-size: 24px;
        font-weight: 400;
        font-family: $regular;
      }

      &--h2{
        font-size: 56px;
        font-family: $regular;
        font-weight: 700;
      }
    }

    .description{
      margin-top: 24px;
      margin-bottom: 42px;
      color: #ffffff;
      font-family: $regular;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
    }

    @include breakpoint(max-width 700px) {
      padding-bottom: 122px;
    }
  }

  &_second{
    padding-top: 82px;

    .h2{
      text-align: center;
      color: #464646;
      font-family: $regular;
      font-size: 48px;
      margin-bottom: 31px;
    }

    .h3{
      text-align: center;
      color: #464646;
      font-family: $regular;
      font-size: 24px;
      font-weight: 400;
      /* Text style for "Дети спосо" */
      line-height: 36px;

      &:after{
        content: "";
        display: block;
        width: 51px;
        height: 4px;
        background-color: #009fde;
        margin: 30px auto;
        margin-bottom: 36px;
      }
    }

    .text{
      max-width: 615px;
      margin: auto;
      padding-bottom: 83px;

      p{
        color: #444a52;
        font-family: $regular;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 30px;
      }
    }
  }

  &_third{
    background: #f6f9fc;
    padding-top: 83px;
    padding-bottom: 26px;

    .h2{
      color: #464646;
      font-family: $regular;
      font-size: 48px;
      text-align: center;
      margin-bottom: 65px;
    }

    .row{
      max-width: 930px;
      margin: 0 auto;
      margin-bottom: 95px;
      display: flex;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 10px;

      .img{
        &.first{
          display: none;
        }
        margin-right: 30px;
      }

      .text_wrapper{
        display: flex;
        align-items: flex-start;

        .line{
          width: 51px;
          height: 4px;
          background-color: #009fde;
          margin-right: 30px;
          margin-top: 9px;
        }
      }

      .text{
        max-width: 445px;
        color: #444a52;
        font-family: $regular;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
      }

      @include breakpoint(max-width 760px) {
        display: block;
        margin-bottom: 47px;

        .img{
          text-align: center;
          margin-bottom: 27px;
          
          &.second{
            display: none;
          }
          
          &.first{
            display: block;
          }
        }

        .text_wrapper{
          max-width: 475px;
          margin: auto;
        }
      }
    }
  }

  &_fourth{
    border-bottom: 1px solid #f6f9fc;

    .h2{
      color: #464646;
      font-family: $regular;
      font-size: 48px;
      font-weight: 700;
      text-align: center;
      padding-top: 82px;
      margin-bottom: 66px;
    }


    .slider{
      max-width: 940px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      margin-bottom: 105px;
      align-items: center;
      padding: 0 10px;

      .arrow{
        width: 40px;
        height: 40px;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        @include breakpoint(max-width 759px){
          display: none;
        }

        &__left{
          background: transparent url("../img/arrow-left.png") no-repeat;
        }

        &__right{
          background: transparent url("../img/arrow-right.png") no-repeat;
        }
      }

      .slides{
        max-width: 608px;

        @include breakpoint(max-width 759px){
          margin: auto;
        }

        .slide{
          display: none;

          &__header {
            display: flex;
            margin-bottom: 37px;

            .photo{
              width: 80px;
              height: 80px;
              margin-right: 29px;
            }

            .author{
              margin-top: 12px;

              &__name{
                color: #464646;
                font-family: $bold;
                font-size: 18px;
                margin-bottom: 8px;
              }

              &__position{
                color: #a1adb4;
                font-family: $regular;
                font-size: 16px;
              }
            }
          }

          &__body {
            color: #444a52;
            font-family: $regular;
            font-size: 16px;
            font-style: italic;
            line-height: 26px;
          }

        }
      }
    }

    .slider_pins{
      justify-content: space-between;
      width: 56px;
      margin: auto;
      margin-bottom: 95px;
      display: none;

      @include breakpoint(max-width 759px) {
        display: flex;
      }

      .pin{
        width: 8px;
        height: 8px;
        background: #ced5dd;
        border-radius: 50%;
        cursor: pointer;
        &.active{
          background: #009fde;
        }
      }
    }

    .btn_wrapper{
      text-align: center;
      margin-bottom: 125px;

      @include breakpoint(max-width 759px){
        margin-bottom: 95px;
      }
    }
  }

  &_fifth{
    padding-top: 81px;
    border-bottom: 1px solid #f6f9fc;

    .h2{
      color: #464646;
      font-family: $regular;
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 68px;
      text-align: center;
    }

    .humans{
      max-width: 807px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: auto;
      padding-bottom: 60px;


      @include breakpoint(max-width 658px) {
        .hidden{
          display: none;
        }
      }

      .human{
        max-width: 214px;
        margin-bottom: 70px;
        text-align: center;
        flex-basis: 214px;

        &__photo{
          margin-bottom: 29px;
        }

        &__name{
          margin-bottom: 9px;
          font-family: $medium;
          font-weight: 500;
          color: #464646;
          font-size: 18px;
        }

        &__position{
          color: #a1adb4;
          font-family: $regular;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }

  &_six{
    padding-top: 81px;
    padding-left: 10px;
    padding-right: 10px;

    .h2{
      color: #464646;
      font-family: $regular;
      font-size: 48px;
      font-weight: 700;
      text-align: center;
      //padding-bottom: 66px;

      &:after{
        content: '';
        display: block;
        width: 51px;
        height: 4px;
        background-color: #009fde;
        margin: auto;
        margin-top: 66px;
        margin-bottom: 40px;
      }
    }

    .guests{
      max-width: 870px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 92px;

      @include breakpoint(max-width 796px){
        justify-content: space-around;
        margin-bottom: 0;
      }

      .guest{
        text-align: center;
        width: 29%;
        flex-basis: 220px;
        margin-bottom: 40px;

        &__name {color: #464646;
          font-family: $medium;
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 10px;
        }

        &__position {
          color: #a1adb4;
          font-family: $regular;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
        }
      }

      @include breakpoint(max-width 797px) {

      }
    }
  }

  &_seven{
    background: #f6f9fc;
    padding-top: 82px;
    padding-bottom: 125px;

    .h2{
      color: #464646;
      font-family: $regular;
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 65px;
      text-align: center;
    }

    .items{
      margin-bottom: 75px;
      padding: 0 10px;
      .item{
        background: #ffffff;
        box-shadow: 1px 2px 8px 1px rgba(246, 249, 252, 0.16), 2px 4px 8px 1px rgba(246, 249, 252, 0.24);
        border-radius: 4px;
        max-width: 940px;
        margin: auto;
        margin-bottom: 10px;

        &__header{
          display: flex;
          padding: 35px;
          cursor: pointer;
        }

        &__number{
          color: #464646;
          font-family: $regular;
          font-size: 18px;
          font-weight: 600;
          margin-right: 30px;
        }

        &__title{
          color: #464646;
          font-family: $regular;
          font-size: 18px;
          font-weight: 600;
          flex: 1;
        }

        &__icon {
          display: flex;
          border-left: 1px solid #f6f9fc;

          .icon{
            width: 16px;
            height: 16px;
            display: inline-block;
            background: transparent url("../img/plus.png") no-repeat;
          }
        }

        &.open{
          .item__icon{
            .icon{
              height: 2px;
              background: transparent url("../img/minus.png") no-repeat;
            }
          }
        }

        &__content {
          display: none;
          background: #ffffff;
          padding-left: 88px;
          padding-right: 77px;
          padding-bottom: 51px;
        }

        &.open{
          .item__content{
            display: block;
          }
        }
      }
    }

    .btn_wrapper{
      text-align: center;
    }
  }

  &_eight {
    background: #ffffff;
    padding-top: 82px;
    padding-bottom: 130px;
    border-bottom: 1px solid #f6f9fc;

    .h2{
        color: #464646;
        font-family: $regular;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        //padding-bottom: 66px;

        &:after{
          content: '';
          display: block;
          width: 44px;
          height: 32px;
          background: transparent url('../img/quotes.png') no-repeat;
          margin: auto;
          margin-top: 66px;
          margin-bottom: 40px;
        }
    }

    .paragraph{
      color: #444a52;
      font-family: $regular;
      font-size: 24px;
      font-style: italic;
      line-height: 36px;
      max-width: 568px;
      margin: auto;
      margin-bottom: 51px;
      padding: 0 10px;
    }

    .logo {
      text-align: center;
      margin-bottom: 40px;
    }

    .ceo{
      text-align: center;

      &__name{
        color: #464646;
        font-family: $medium;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      &__position {
        color: #a1adb4;
        font-family: $regular;
        font-size: 16px;
        font-weight: 400;
      }
    }

    @include breakpoint(max-width 760px) {
      padding-top: 61px;
      padding-bottom: 101px;
    }
  }

  &_nine {
    padding: 82px 10px 85px;

    .h2 {
      text-align: center;
      color: #464646;
      font-family: $regular;
      font-size: 48px;
      font-weight: 700;

      &:after{
        content: '';
        display: block;
        width: 51px;
        height: 4px;
        background-color: #009fde;
        margin: auto;
        margin-top: 66px;
        margin-bottom: 40px;
      }
    }

    .list {
      max-width: 617px;
      margin: auto;

      .list__item{
        margin-bottom: 35px;

        h3{
          font-family: $medium;
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 10px;
        }

        p{
          margin-bottom: 10px;
          font-family: $regular;
          line-height: 32px;

        }
      }
    }

    .shim{
      display: none;
    }

    @include breakpoint(max-width 461px) {

      .list{
        .hidden{
          display: none;
        }
      }

      .shim{
        display: block;
        text-align: center;
        position: relative;
        color: #009fde;
        font-family: $regular;
        font-size: 16px;
        font-weight: 400;

        span{
          border-bottom: 1px dashed;
          cursor: pointer;
        }

        &:before{
          content: ' ';
          display: block;
          width: 100%;
          height: 70px;
          background: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
          position: absolute;
          top: -106px;
        }

        &.open{
          &:before{
            display: none;
          }
        }
      }
    }
  }

  &_ten {
    background: #f6f9fc;
    padding-top: 57px;
    padding-bottom: 126px;


    @include breakpoint(max-width 760px) {
      padding-bottom: 98px;
    }

    .h2 {
      color: #464646;
      font-family: $regular;
      font-size: 48px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 66px;
    }

    form{
      max-width: 939px;
      display: flex;
      margin: auto;
      justify-content: space-between;
      margin-bottom: 40px;


      input[name="name"] {
        width: 100%;
        max-width: 373px;
        height: 55px;
      }

      input[name="phone"] {
        width: 100%;
        max-width: 293px;
        height: 55px;
      }

      @include breakpoint(max-width 915px){
        display: block;

        input[name="name"] {
          display: block;
          width: 100%;
          max-width: 450px;
          height: 55px;
          margin: auto;
          margin-bottom: 20px;
        }

        input[name="phone"] {
          display: block;
          height: 55px;
          width: 100%;
          max-width: 450px;
          margin: auto;
          margin-bottom: 20px;
        }
      }

      .btn{
        width: 213px;
        height: 55px;

        @include breakpoint(max-width 915px){
          display: block;
          width: 100%;
          max-width: 450px;
          margin: auto;
        }

      }
    }

    .link_wrapper{
      text-align: center;

      span{
        color: #333;
        font-family: $regular;
        font-size: 16px;
        font-weight: 400;

        a{
          color: #009fde;
          text-decoration: none;
          font-size: 15px;
        }
      }


      @include breakpoint(max-width 760px){
        max-width: 412px;
        margin: auto;
      }
    }
  }

  &_eleven {
    background: #ffffff;
    padding-top: 77px;
    padding-bottom: 130px;

    @include breakpoint(max-width 760px) {
      padding-bottom: 66px;
    }

    .h2{
      color: #464646;
      font-family: $regular;
      font-size: 48px;
      font-weight: 700;
      text-align: center;
      padding-bottom: 2px;

      &:after{
        content: '';
        display: block;
        width: 51px;
        height: 4px;
        background-color: #009fde;
        margin: auto;
        margin-top: 66px;
        margin-bottom: 40px;
      }
    }

    .humans {
      max-width: 809px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      padding: 0 10px;

      @include breakpoint(max-width 760px) {
        display: block;
        text-align: center;

        .human{
          margin-bottom: 33px;
        }
      }

      .human {
        &__name{
          font-family: $medium;
          font-weight: 500;
          font-size: 18px;
          margin-bottom: 11px;
        }

        &__position {
          color: #a1adb4;
          font-family: $regular;
          font-size: 16px;
          font-weight: 400;
          text-align: center;
        }
      }
    }
  }
  
  &_twelve{
    background: #009fde;
    padding-top: 81px;
    padding-bottom: 130px;


    @include breakpoint(max-width 760px) {
      padding-top: 62px;
      padding-bottom: 99px;
    }

    .h2{
      color: #ffffff;
      text-align: center;
      font-family: $regular;
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 66px;
    }

    form{
      max-width: 939px;
      display: flex;
      margin: auto;
      justify-content: space-between;
      margin-bottom: 40px;


      input[name="name"] {
        width: 100%;
        max-width: 373px;
        height: 55px;
      }

      input[name="phone"] {
        width: 100%;
        max-width: 293px;
        height: 55px;
      }

      @include breakpoint(max-width 915px){
        display: block;

        input[name="name"] {
          display: block;
          width: 100%;
          max-width: 450px;
          height: 55px;
          margin: auto;
          margin-bottom: 20px;
        }

        input[name="phone"] {
          display: block;
          height: 55px;
          width: 100%;
          max-width: 450px;
          margin: auto;
          margin-bottom: 20px;
        }

        .btn{
          display: block;
          width: 100%;
          max-width: 450px;
          margin: auto;
        }
      }
    }

    .link_wrapper{
      text-align: center;

      span{
        color: #ffffff;
        font-family: $regular;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }

      a{
        color: #ffffff;
        font-family: $regular;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
      }

      @include breakpoint(max-width 760px){
        max-width: 412px;
        margin: auto;
      }
    }
  }

  &_thirteen{
    padding-top: 82px;
    padding-bottom: 125px;

    @include breakpoint(max-width 760px) {
      padding-top: 61px;
      padding-bottom: 95px;
    }

    .map{
      margin-bottom: 43px;
    }

    .h2{
      color: #464646;
      font-family: $regular;
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 74px;
      text-align: center;
    }

    .contacts{
      display: flex;
      width: 100%;
      max-width: 865px;
      margin: auto;
      justify-content: space-between;
      margin-bottom: 73px;
      padding: 0 10px;

      .label{
        color: #a1adb4;
        font-size: 16px;
        font-family: $regular;
        font-weight: 500;
        margin-bottom: 7px;
      }

      .txt{
        color: #464646;
        font-family: $regular;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
      }

      .address{
        max-width: 360px;

        @include breakpoint(max-width 830px) {

        }
      }

      .email{

        a{
          font-family: $medium;
          font-weight: 500;
          font-size: 18px;
          color: #009fde;
          text-decoration: none;
        }
      }

      .phone{
        min-width: 137px;

        a{
          font-family: $medium;
          font-weight: 500;
          text-decoration: none;
          color: #000000;
          font-size: 17px;
        }
      }

      @include breakpoint(max-width 830px) {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 44px;

        .address{
          max-width: 100%;
          margin-bottom: 40px;
        }

        .email{
          width: 50%;
        }
      }
    }

    .btn_wrapper{
      text-align: center;

      a{
        text-decoration: none;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
      }
    }
  }

}

.footer{
  text-align: center;
  background: #f6f9fc;
  color: #a1adb4;
  font-family: $regular;
  font-size: 14px;
  font-weight: 400;
  padding-top: 31px;
  padding-bottom: 25px;
}