.header{
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  max-width: 928px;
  margin: auto;
  margin-bottom: 74px;


  &__phone{
    color: #ffffff;
    transition: all .3s linear;


    .phone{
      margin-bottom: 10px;
      margin-top: 3px;

      a{
        font-family: $regular;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
        text-decoration: none;
        color: #ffffff;
      }
    }

    .text{
      font-size: 16px;
      font-weight: 400;
      font-family: $regular;
    }

    .phone_icon{
      display: none;
    }

    .mphone{
      display: none;
    }

    @include breakpoint(max-width 700px) {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: rgba(#fff, .3);
      position: relative;
      cursor: pointer;

      .phone{
        display: none;
      }

      .text{
        display: none;
      }

      .phone_icon{
        display: inline-block;
        width: 18px;
        height: 18px;
        background: transparent url("/img/phone-icon.png") no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.open{
        border-radius: 38px;
        text-align: center;
        line-height: 50px;
        width: 238px;

        .phone_icon{
          left: 24px;
          top: 25px;
        }

        .mphone{
          display: inline-block;
          white-space: nowrap;
          font-family: $regular;
          font-size: 20px;
          font-weight: 500;
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }


  &__btn{
    .btn{
      transition: width, padding .3s linear;

      i{
        display: none;
      }

      @include breakpoint(max-width 700px) {
        padding: 0;
        color: transparent;
        width: 50px;
        height: 50px;
        position: relative;

        i{
          display: inline-block;
          width: 20px;
          height: 20px;
          background: transparent url("/img/mail-icon.png") no-repeat;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  @include breakpoint(max-width 962px) {
    max-width: 720px;
  }
}